@charset "utf-8";

/* Fonts */
@font-face {
    font-family: "Plus Jakarta Sans";
    src: url('../public/fonts/Plus_Jakarta_Sans/PlusJakartaSans-Regular.ttf');
}

@font-face {
    font-family: "Plus Jakarta Sans Medium";
    src: url('../public/fonts/Plus_Jakarta_Sans/PlusJakartaSans-Medium.ttf');
}

/* Header */
.headerRow{
    vertical-align: middle;
}
#arrow{
    vertical-align: middle;
    padding-right: 20px;
    padding-bottom: 5px;
}

.statusCircle{
    padding-left: 15px;
}

/* View PR */
/* PR Details */
.prDetails,.productDetails{
    padding: 30px 0 30px 90px;
}

.viewRow{
    content: "";
    display: item;
    clear: both;

}

.viewCol{
    float:left;
    width: 50%;
}

/* Product Details */

.productDetails{
    padding-top: 100px;
    padding-right: 90px;
}

.pDTop{
    width: auto;
}

.itemLabel > li{
    display: inline;
    padding: 0 30px 0 30px;
}

.itemNo{

}

.itemName{

}

.itemQty{
   margin-left: 320px;
}

.itemUP{
    margin-left: 40px;
}

.itemTotalUP{
    margin-left: 30px;
}

.productLines{
    height: 40px;
    vertical-align: middle;
}

.plItemRow{
    padding-top: 10px;
    vertical-align: middle;
    display: grid;
    text-align: center;
    grid-template-columns: 110px 350px 180px 260px 100px;
} 

.plItemRow > div > p {
    margin: 0;
}

.plItemNo{
    text-align: left;
    padding-left: 50px;
}

.plItemName{
    text-align: left;
    padding-left: 40px;
}

.plQty{
    padding-left: 90px;
}

.plUnitPrice{

}

.plTotalUP{

}

.totalRow{
    content: "";
    display: flexbox;
    clear: both;
    padding-left: 60%;
}

.totalCol1,.totalCol2{
    float: left;
    width: 20%;
}
.totalCol1{
    padding-left: 110px;
}

.totalCol2{
    padding-left: 100px;
}
.priceLabel{
    text-align: right;
}

.price{
    text-align: left;
    margin: 0;
    padding-top: 20px;
}

.totalprice{
    font-family: "Plus Jakarta Sans Medium";
    text-align: left;
    margin: 0;
    padding-top: 24px;
}

#totalLine{
    width: 30%;
    border-width: 2px;
    margin-right: 1px;
}




