/* this is indv PR css */
@charset "utf-8";

/* Fonts */
@font-face {
    font-family: "Plus Jakarta Sans";
    src: url('../public/fonts/Plus_Jakarta_Sans/PlusJakartaSans-Regular.ttf');
}

.seeMoreLink{
    cursor: pointer;
}

.seeMoreLink:hover{
    color: dodgerblue;
    text-decoration: underline;
}

.downArrow{
    transform: rotate(270deg);
}

/* filter */
.newStatusBox {
    width: 450px;
    height: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    display: block;
    border: 1px solid black;
}

.newStatus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.createStatusBtn {
    padding: 6px 20px 6px 20px;
    border-radius: 15px;
    border-width: 1px;
    background-color: #486284;
    color: white;
}

.newStatus form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}