/* html,
body,
body > div { 
  margin: 0;
  padding: 0;
  height: 100%;
}

h2 {
  margin: 0;
  font-size: 16px;
} */

/* .list {
  margin: 0;
  padding: 0 0 0 1.5em;
} */

/* li {
  margin: 1.5em 0;
  padding: 0;
} */



/* .demoapp {
  display: flex;
  min-height: 100%;
  font-size: 14px;
  text-decoration: none !important;
} */

.demoappsidebar {
  width: 300px;
  line-height: 1.5;
  background: #eaf9ff;
  border-right: 1px solid #d3e2e8;
}

.demoappsidebarsection {
  padding: 2em;

}

.demoappmain {
  flex-grow: 1;
  padding: 3em;
  text-decoration: none !important;
  color: black;
}

.demoappmain>a {
  color: black;
  text-decoration: none;
}

.fc-scrollgrid-sync-inner {
  color: black;
  text-decoration: none;
}

/* create status pop */
.newStatusBox {
  width: 450px;
  height: 540px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  /* display: block; */
  border: 1px solid black;
  z-index: 999;
}

.secondPopUp {
  margin-top: 220px;
  margin-left: 20px
}

.newStatus {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.newStatus input[type="text"] {
  border-radius: 20px;
  border-width: 1px;
  padding: 5px;
  width: 80%;
}

.newStatus input[type="number"] {
  border-radius: 20px;
  border-width: 1px;
  padding: 5px;
  width: 80%;
}

.newStatus input[type="date"] {
  border-radius: 20px;
  border-width: 1px;
  padding: 5px;
  width: 80%;
}

.newStatus textarea[type="text"] {
  border-radius: 10px;
  border-width: 1px;
  padding: 10px;
  width: 80%;
}

.newStatus button {
  padding: 6px 20px 6px 20px;
  border-radius: 15px;
  border-width: 1px;
  background-color: #486284;
  color: white;
}

.newStatus form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.closemeStatus1 {
  background-color: transparent;
  border: none;
  margin-left: 350px;
  margin-top: 5px;
  font-size: x-large;
  cursor: pointer;
}

.closemeStatus2 {
  background-color: transparent;
  border: none;
  margin-left: 400px;
  font-size: x-large;
  cursor: pointer;
}


/* .fc { 
  max-width: 1100px;
  margin: 0 auto;
} */

.deleteConfirmationBox {
  width: 550px;
  height: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  /* display: block; */
  border: 1px solid black;
  z-index: 999;
  text-align: center;
}

.deleteConfirmation button {
  padding: 6px 20px 6px 20px;
  border-radius: 15px;
  border-width: 1px;
  background-color: #486284;
  color: white;
  margin-left: 20px;
  margin-top: 30px;
}

.impt {
  display: grid;
  grid-template-rows: auto 1fr;
  word-break: break-word;
}

.des {
  overflow: hidden;
  white-space: pre-wrap;
  margin-left: 5px;
}

.viewAccessSelect {
  padding: 5px;
  width: 80%;
  border-radius: 20px;
  border-width: 1px;
}