@charset "utf-8";

/* Fonts */
@font-face {
    font-family: "Plus Jakarta Sans";
    src: url('../public/fonts/Plus_Jakarta_Sans/PlusJakartaSans-Regular.ttf');
}

/* Header */
.headerRow{
    vertical-align: middle;
}
#arrow{
    vertical-align: middle;
    padding-right: 20px;
    padding-bottom: 5px;
}

/* PR Details */
/* .formInputs{
    height: 50px;
    border-color: aqua;
} */

.prDetails,.productDetails{
    padding: 30px 0 30px 90px;
}

.viewRow,.productDetails{
    content: "";
    display: item;
    clear: both;
}

.viewCol{
    float:left;
    width: 50%;
}

.viewCol > input, .viewCol > div > div > input{
    width: 70%;
    height: 40px;
    border-radius: 10px;
    border-color: #93A2B7;
    border-style: solid;
    border-width:2px;
}
.locationInputs{
    padding-bottom: 5px;
}

.addLocationButton, .removeLocationButton{
    background-color: transparent;
    border: none;
}

.addLocIcon{
    vertical-align: middle;
}

.addLocationText{
    margin: 0;
    padding-top: 5px;
}

/* Product Details */

.plItemRow{
    padding-top: 10px;
    vertical-align: middle;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

.plItemRow > div > p {
    margin: 0;
}

.plItemNo{
    text-align: center;
    width: 90%;
}

.plQty, .plUnitPrice, .plTotalUP{
    text-align: center;
    width: 50%;
} 

.plItemName{
    width: 110%;
}

.plItemNo, .plItemName, .plQty, .plUnitPrice, .plTotalUP{
    height: 30px;
    border-radius: 8px;
    border-color: #93A2B7;
    border-style: solid;
    border-width:1.5px;
}

/* Create PL line Button */
.createButton{
    background-color: rgb(255, 255, 255);
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border-style: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.createButton:hover{
    background-color: #efecec;
}

.addIcon{
    vertical-align: middle;
}

.cancelIcon{
    transform: rotate(45deg);
    transition: 0.5s;
}

/* Remarks */
/* .remarksTestArea{
    
} */

.textArea{
    width: 100%;
    height: 200px;
    border-radius: 8px;
    border-color: #93A2B7;
    border-style: solid;
    border-width:2px;
    resize: none;
}

/* Submit Button */
.submit{
    float: right;
    padding-bottom: 100px;
    width: 100%;
    height: 100%;
}

.submitButton,.resetReappealButton{
    color: white;
    font-size: 15px;
    font-family: "Plus Jakarta Sans";
    width: 100%;
    height: 40px;
    background-color: #486284;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.resetReappealButton{
    background-color: #e16060;
}

/* Toggle */
.toggle{
    float: right;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

.switch {
    --button-width: 3.5em;
    --button-height: 2em;
    --toggle-diameter: 1.5em;
    --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
    --toggle-shadow-offset: 10px;
    --toggle-wider: 3em;
    --color-grey: #93A2B7;
    --color-green: #476d9f;
   }
   
   .slider {
    display: inline-block;
    width: var(--button-width);
    height: var(--button-height);
    background-color: var(--color-grey);
    border-radius: calc(var(--button-height) / 2);
    position: relative;
    transition: 0.3s all ease-in-out;
   }
   
   .slider::after {
    content: "";
    display: inline-block;
    width: var(--toggle-diameter);
    height: var(--toggle-diameter);
    background-color: #fff;
    border-radius: calc(var(--toggle-diameter) / 2);
    position: absolute;
    top: var(--button-toggle-offset);
    transform: translateX(var(--button-toggle-offset));
    box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
    transition: 0.3s all ease-in-out;
   }
   
   .switch input[type="checkbox"]:checked + .slider {
    background-color: var(--color-green);
   }
   
   .switch input[type="checkbox"]:checked + .slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
    box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
   }
   
   .switch input[type="checkbox"] {
    display: none;
   }
   
   .switch input[type="checkbox"]:active + .slider::after {
    width: var(--toggle-wider);
   }
   
   .switch input[type="checkbox"]:checked:active + .slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
   }
   