@charset "utf-8";

/* Fonts */
@font-face {
    font-family: "Plus Jakarta Sans";
    src: url('../public/fonts/Plus_Jakarta_Sans/PlusJakartaSans-Regular.ttf');
}

.backArrow{
    margin-left: 30px;
    margin-right: 20px;
    display: inline;
}

.textbox {
    width: 70%;
    height: 40px;
    border-radius: 10px;
    border-color: #93A2B7;
    border-style: solid;
    border-width: 2px;
    padding: 7px;
    margin-bottom: 25px;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;  
}

.multiSelectBox, .selectBox {
    width: 70%;
    height: 38px;
    border-radius: 5px;
    box-shadow: 0 0 0 1.5px #93A2B7;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    margin-bottom: 25px;
}

.submitButton {
    color: white;
    font-size: 18px;
    font-family: "Plus Jakarta Sans";
    width: 140px;
    height: 40px;
    background-color: #486284;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-left: 85%;
    cursor: pointer;
}
