/* this is indv PR css */
@charset "utf-8";

/* Fonts */
@font-face {
    font-family: "Plus Jakarta Sans";
    src: url('../public/fonts/Plus_Jakarta_Sans/PlusJakartaSans-Regular.ttf');
}

.header {
    width: 100%;
    /* position: fixed; */
}

/* 
.headerRow2{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
} */

/* Search Box */
.searchContainer {
    float: right;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

.searchBox {
    height: 55%;
    width: 70%;
    border-radius: 20px;
    border-color: #93A2B7;
    border-style: solid;
    border-width: 1.5px;
}

.searchButton {
    border-style: none;
    background-color: transparent;
    vertical-align: middle;
}

.rightFloater {
    float: right;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

/* Create PR Button */
.createButton {
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border-style: none;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 20px;
    right: 30px;
}

.createButton:hover {
    background-color: #efecec;
}

/* Table Label */
/* .labelRow{
    position: fixed;
    top:180px;
    width: 95%;
} */

.tableLabel>li {
    display: inline;
    padding: 0 30px 0 30px;
}

/* .prData{
    padding-top: 150px;
} */

.tableNo {
    margin-left: 20px;
}

.tableName {
    margin-left: 50px;
}

.tableLocation {
    margin-left: 120px;
}

.tableSupplier {
    margin-left: 250px;
}

.tableStatus {
    margin-left: 160px;
}

/* PR */
.prButton {
    border: none;
    background-color: transparent;
    width: 100%;
    padding-bottom: 5px;
}

/* .prButton:hover{
    border: none;
    background-color: transparent;
} */

.prRow,.ahRow {
    background-color: #C0D8F7;
    font-size: 16px;
    height: auto;
    border-radius: 18px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    text-align: center;
    object-fit: scale-down;
    transition: transform .5s;
}

.ahRow{
    background-color: #DDE9F8;
}

.prRow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* transform: scale(1.05); */
}

.prTextRow {
    padding-top: 25px;
    padding-bottom: 20px;
    vertical-align: middle;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

/* .prTextNo{
    padding-left: 50px;
}

.prTextName{
    padding-left: 70px;
}

.prTextLocation{
    padding-left: 150px;
}

.prTextSupplier{
    padding-left: 210px;
}*/

.prTextStatus {
    text-align: right;
    /* padding-left: 130px; */
}

.statusCol {
    vertical-align: middle;
    display: flex;
    flex-wrap: wrap;
}

#statusCircle {
    vertical-align: middle;
    padding: 1px;
}

.viewIconButton {
    background-color: transparent;
    border: none;
    transition: transform .2s;
}

.viewIconButton:hover {
    transform: scale(1.2);
}

.plRow {
    background-color: #93bcf166;
    font-size: 16px;
    height: auto;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    /* border-radius: 18px; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    text-align: center;
    object-fit: scale-down;
}

/* Toggle */
.toggle {
    float: right;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

.switch {
    --button-width: 3.5em;
    --button-height: 2em;
    --toggle-diameter: 1.5em;
    --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
    --toggle-shadow-offset: 10px;
    --toggle-wider: 3em;
    --color-grey: #93A2B7;
    --color-green: #476d9f;
}

.slider {
    display: inline-block;
    width: var(--button-width);
    height: var(--button-height);
    background-color: var(--color-grey);
    border-radius: calc(var(--button-height) / 2);
    position: relative;
    transition: 0.3s all ease-in-out;
}

.slider::after {
    content: "";
    display: inline-block;
    width: var(--toggle-diameter);
    height: var(--toggle-diameter);
    background-color: #fff;
    border-radius: calc(var(--toggle-diameter) / 2);
    position: absolute;
    top: var(--button-toggle-offset);
    transform: translateX(var(--button-toggle-offset));
    box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
    transition: 0.3s all ease-in-out;
}

.switch input[type="checkbox"]:checked+.slider {
    background-color: var(--color-green);
}

.switch input[type="checkbox"]:checked+.slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
    box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
}

.switch input[type="checkbox"] {
    display: none;
}

.switch input[type="checkbox"]:active+.slider::after {
    width: var(--toggle-wider);
}

.switch input[type="checkbox"]:checked:active+.slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
}

/* Filter */
.closePopUpButton {
    background-color: transparent;
    border: none;
}

.newStatusBox {
    width: 450px;
    height: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    display: block;
    border: 1px solid black;
}

.newStatus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* checkboxes for filter */
.materialCheckbox {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #777777;
    cursor: pointer;
}

.materialCheckbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.checkmark {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 12px;
    border: 2px solid #93A2B7;
    border-radius: 4px;
    transition: all 0.3s;
}

.materialCheckbox input[type="checkbox"]:checked~.checkmark {
    background-color: #C0D8F7;
    /* border-color: #55759f9c; */
}

.materialCheckbox input[type="checkbox"]:checked~.checkmark:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 6px;
    width: 4px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.materialCheckbox:hover input[type="checkbox"]~.checkmark {
    border-color: #033575;
}

.materialCheckbox input[type="checkbox"]:disabled~.checkmark {
    opacity: 0.5;
    cursor: not-allowed;
}

.materialCheckbox input[type="checkbox"]:disabled~.checkmark:hover {
    border-color: #93A2B7;
}

/* Filter */
/* .closePopUpButton {
    background-color: transparent;
    border: none;
}

.inProgressBox {
    width: 450px;
    height: 180px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    display: block;
    border: 1px solid black;
}

.inProgBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */