/* this is indv supplier css */
@charset "utf-8";

/* Fonts */
@font-face {
    font-family: "Plus Jakarta Sans";
    src: url('../public/fonts/Plus_Jakarta_Sans/PlusJakartaSans-Regular.ttf');
}

@font-face {
    font-family: "Plus Jakarta Sans Medium";
    src: url('../public/fonts/Plus_Jakarta_Sans/PlusJakartaSans-Medium.ttf');
}

/* Page Title */
.titleRow {
    display: flex;
}

.title {
    width: 75%;
}

/* Search Box */
.searchBox {
    height: 30px;
    width: 200px;
    border-radius: 15px;
    border-color: #93A2B7;
    border-style: solid;
    border-width: 1.5px;
}

.searchButton {
    border-style: none;
    background-color: transparent;
    vertical-align: middle;
}

/* Create Supplier Button */
.createButton {
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border-style: none;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 30px;
    right: 50px;
    cursor: pointer;
}

.createButton:hover {
    background-color: #efecec;
}