@charset "utf-8";

/* Fonts */
@font-face {
    font-family: "Plus Jakarta Sans";
    src: url('../public/fonts/Plus_Jakarta_Sans/PlusJakartaSans-Regular.ttf');
}


.lineContainer {
    height: 10px;
    width: 90%;
    /* position: relative; */
    margin-left: 40px;
    border-bottom: 2px solid #000000;
}

.lineDivider {
    border-left: 2px solid #000000;
    position: absolute;
    top: 50%;
    bottom: 0;
}

.nameCol,
.supCol,
.locCol,
.payCol {
    flex: 1
}


.lineContainer {
    height: 10px;
    width: 90%;
    position: relative;
    margin-left: 40px;
    border-bottom: 1px solid #000000;
}

.lineDivider {
    border-left: 1px solid #000000;
    position: absolute;
    top: 50%;
    bottom: 0;
}

.lineContainer2 {
    height: 20px;
    width: 15%;
    position: relative;
    border-bottom: 3px solid #000000;
}

.lineDivider2 {
    border-left: 3px solid #000000;
    position: absolute;
    top: 50%;
    bottom: 0;
}

.newStatusBox {
    width: 450px;
    height: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    display: block;
    border: 1px solid black;
}

.newStatus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.closemeStatus1 {
    background-color: transparent;
    border: none;
    margin-left: 370px;
    margin-top: 5px;
    font-size: x-large;
    cursor: pointer;
}

.updateQty2 {
    width: 450px;
    height: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    display: block;
    border: 1px solid black;
}



.updateQtyInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.updateQtyInfo input[type="text"] {
    padding: 10px 15px 10px 15px;
    border-radius: 20px;
    border-width: 1px;
    margin-top: 15px;
}

.updateQtyInfo button {
    padding: 6px 20px 6px 20px;
    border-radius: 15px;
    border-width: 1px;
    background-color: #486284;
    color: white;
}

.updateQtyInfo form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}