/* this is indv track orders css */
@charset "utf-8";

/* Fonts */
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url('../public/fonts/Plus_Jakarta_Sans/PlusJakartaSans-Regular.ttf');
}

/* Search Box */
.searchContainer {
  float: right;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.searchBox {
  height: 55%;
  width: 70%;
  border-radius: 20px;
  border-color: #93A2B7;
  border-style: solid;
  border-width: 1.5px;
}

.searchButton {
  border-style: none;
  background-color: transparent;
  vertical-align: middle;
}

.rightFloater {
  float: right;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

/* .orderRow{
  background-color: #C0D8F7;
  font-size: 15px;
  height: 50px;
  border-radius: 18px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  object-fit: scale-down;
  transition: transform .5s;
} */

/* .orderRow:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
} */

.orderTextRow {
  padding-top: 25px;
  padding-bottom: 20px;
  vertical-align: middle;
  display: grid;
  text-align: left;
  grid-template-columns: 110px 210px 300px 220px 190px 100px;
}

/* create status pop */
.newStatusBox {
  width: 450px;
  height: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  /* display: block; */
  border: 1px solid black;
}

.newStatus {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.newStatus input[type="text"] {
  padding: 10px 15px 10px 15px;
  border-radius: 20px;
  border-width: 1px;
  margin-top: 15px;
}

.newStatus button {
  padding: 6px 20px 6px 20px;
  border-radius: 15px;
  border-width: 1px;
  background-color: #486284;
  color: white;
}

.newStatus form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.closemeStatus {
  background-color: transparent;
  border: none;
  margin-left: 370px;
  margin-top: -65px;
  font-size: x-large;
  cursor: pointer;
}

.closemeStatus1 {
  background-color: transparent;
  border: none;
  margin-left: 370px;
  margin-top: 5px;
  font-size: x-large;
  cursor: pointer;
}


/* Adhoc toggle */
.toggle {
  float: right;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.switch {
  --button-width: 3.5em;
  --button-height: 2em;
  --toggle-diameter: 1.5em;
  --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
  --toggle-shadow-offset: 10px;
  --toggle-wider: 3em;
  --color-grey: #93A2B7;
  --color-green: #476d9f;
}

.slider {
  display: inline-block;
  width: var(--button-width);
  height: var(--button-height);
  background-color: var(--color-grey);
  border-radius: calc(var(--button-height) / 2);
  position: relative;
  transition: 0.3s all ease-in-out;
}

.slider::after {
  content: "";
  display: inline-block;
  width: var(--toggle-diameter);
  height: var(--toggle-diameter);
  background-color: #fff;
  border-radius: calc(var(--toggle-diameter) / 2);
  position: absolute;
  top: var(--button-toggle-offset);
  transform: translateX(var(--button-toggle-offset));
  box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
  transition: 0.3s all ease-in-out;
}

.switch input[type="checkbox"]:checked+.slider {
  background-color: var(--color-green);
}

.switch input[type="checkbox"]:checked+.slider::after {
  transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
  box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
}

.switch input[type="checkbox"] {
  display: none;
}

.switch input[type="checkbox"]:active+.slider::after {
  width: var(--toggle-wider);
}

.switch input[type="checkbox"]:checked:active+.slider::after {
  transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
}


/* Ad Hoc View */
.prButton {
  border: none;
  background-color: transparent;
  width: 100%;
  padding-bottom: 5px;
}

.prRow {
  background-color: #C0D8F7;
  font-size: 16px;
  height: auto;
  border-radius: 18px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  text-align: center;
  object-fit: scale-down;
  transition: transform .5s;
}

.prRow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.prTextRow {
  padding-top: 25px;
  padding-bottom: 20px;
  vertical-align: middle;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.prTextStatus {
  text-align: right;
  /* padding-left: 130px; */
}

.statusCol {
  vertical-align: middle;
  display: flex;
  flex-wrap: wrap;
}

#statusCircle {
  vertical-align: middle;
  padding: 1px;
}

.viewIconButton {
  background-color: transparent;
  border: none;
  transition: transform .2s;
}

.viewIconButton:hover {
  transform: scale(1.2);
}

.plRow {
  background-color: #93bcf166;
  font-size: 16px;
  height: auto;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  /* border-radius: 18px; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  text-align: center;
  object-fit: scale-down;
}