@charset "utf-8";

/* Fonts */
@font-face {
    font-family: "Plus Jakarta Sans";
    src: url('../public/fonts/Plus_Jakarta_Sans/PlusJakartaSans-Regular.ttf');
}

.backArrow{
    margin-left: 30px;
    margin-right: 20px;
    display: inline;
}

/* column grid */
.col1, .col2 {
    float: left;
    width: 50%;
    padding: 10px;
    flex: 50%;
    margin-top: 5px;
}

.col1{
    margin-left: 150px;
}

.col2{
    margin-right: 20px;
}

.row{
    display: flex;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.penIcon {
    display: inline-flexbox;
    float: right;
    padding-top: 20px;
    width: 60px;
    height: 60px;
}

.trashBin {
    display: inline-flexbox;
    float: right;
    padding-top: 20px;
    margin-left: 30px;
    cursor: pointer;
    width: 3%;
    height: 3%;
}

/* delete popup box */
.popupContainer {
    width: 480px;
    height: 270px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    padding-top: 60px;
    border-radius: 20px;
    display: block;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
}

.popupBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirmDeleteText {
    font-size: xx-large;
    margin-left: 15px;
}

.closeButton2 {
    background-color: transparent;
    border: none;
    margin-left: 415px;
    margin-top: -85px;
    font-size: xx-large;
    cursor: pointer;
}

.deleteButtons {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.cancelButton1, .deleteButton {
    cursor: pointer;
    color: white;
    border-radius: 20px;
    border-width: 1px;
    padding: 10px 25px;
    margin-left: 15px;
    font-size: 20pt;
}

.cancelButton1 {
    background-color: #93A0B1;
}

.deleteButton, .submitButton {
    background-color: #486284;
}

/* edit mode styling */
.updateButtons {
    cursor: pointer;
    border-radius: 20px;
    border-width: 1px;
    padding: 10px 25px;
    font-size: 20pt;
    left: 67%;
    top: 90%;
    position: fixed;
}

.cancelButton2 {
    background-color: #93A0B1;
}

.submitButton {
    background-color: #486284;
}

.submitButton, .cancelButton2 {
    color: white;
    font-size: 15px;
    font-family: "Plus Jakarta Sans";
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-right: 20px;
}

.editInputs {
    font-size: medium;
    border-radius: 5px;
    border-color: #c2c2c3;
    border-style: solid;
    border-width: 1px;  
    height: 35px;
    margin-bottom: 20px;
    width: 70%;
}

.selectBox, .multiSelectBox {
    width: 70%;
    /* border-color: #DDE1E6;
    border-radius: 10px; */
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
}
